
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Survey Junkie</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/materialize-css/bin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/materialize-css/bin/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/materialize-css/bin/materialize.js"></script>
  <script src="/js/listeners.js"></script>
  <style>
    .container{ min-height:240px; }
  </style>
</head>
<body>
  <nav class="grey darken-4" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="/" class="brand-logo"><img src="/img/logo.png" class="responsive-img"></a>
    </div>
  </nav>
 
    {{{body}}}

  <footer class="page-footer grey darken-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">What is this thing?</h5>
          <p class="grey-text text-lighten-4">This was a random survey created for a test. It uses Node, Express, SequelizeJS, MySQL and Handlebars. </p>
          <p class="grey-text text-lighten-4">The MaterializeCSS framework is based on Googles Material Design.</p>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="http://khary.co">Khary's Blog on randomness</a></li>
            <li><a class="white-text" href="http://youtube.com/kharymallea">Khary on youtube</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Latest JS Projects</h5>
          <ul>
            <li><a class="white-text" href="http://dollargeneral.triadretail.net/brands/reveal-whats-new-in-beauty/">Dollar General Match Game</a></li>
            <li><a class="white-text" href="http://dollargeneral.triadretail.net/brands/suave-race-to-find-the-difference/">Dollar General Race To Find The Difference Game</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://khary.co">Khary Mallea</a>
      </div>
    </div>
  </footer>

  </body>
</html>
